<html>
<body>
<head>
    <style type="text/css">
        li {
            list-style-type: none
        }

        /* 親ディレクトリへのbackリンク */
        div.back {
            font-size: large;
            margin: 2px;
        }

        /* ファイルリンク */
        div.entity {
            margin: 2px;
        }
    </style>
</head>

<h1>Index of {{.entity.Path}}</h1>
<hr>

<!-- root以外では親ディレクトリへ戻るリンクを表示させる -->
<div class="back">
    {{if ne .entity.Path "/"}}
    <img src="/assets/icons/back-32.png" width="16" height="16">
    <a href="{{.entity.GetParentDir}}">Parent Directory</a>
    {{end}}
</div>

{{range .entities}}
<div class="entity">
    <li>
        <img src="/assets/icons/file-32.png" width="16" height="16">
        <a href="{{.Path}}">
            {{.Name}}
            {{if .IsDir}}/{{end}}<!-- ディレクトリの場合はファイル名の末尾に/を追記する -->
        </a>
    </li>
</div>
{{end}}

<hr>
</body>
</html>